html,body { background: black; color: white; }
body { padding-top: 100px; background-image: url(https://webhosting.caret.net:8443/images/logos/logoImg-rHNwqr?1517500102); background-repeat: no-repeat; background-position: top left; }
